<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
	
<configuration>
	<!-- 配置全局属性 -->
	<settings>
		<!-- 使用jdbc的getGeneratedKeys获取数据库自增主键值 -->
		<!-- oracle: false -->
		<setting name="useGeneratedKeys" value="false" />
		
		<!-- 使用列别名替换列名 默认:true -->
		<setting name="useColumnLabel" value="true" />
		
		<!-- 开启驼峰命名转换:Table{create_time} -> Entity{createTime} -->
		<setting name="mapUnderscoreToCamelCase" value="false" />
		
		<!-- 对于未知的SQL查询，允许返回不同的结果集以达到通用的效果 -->  
        <setting name="multipleResultSetsEnabled" value="true" />
        
        <!-- FULL 会自动映射任意复杂的结果集（无论是否嵌套） -->
        <!-- SIMPLE 就是普通的执行器；REUSE 执行器会重用预处理语句（prepared statements） -->
        <setting name="autoMappingBehavior" value="FULL" />
        
        <!-- 对于批量更新操作缓存SQL以提高性能  -->  
        <!-- SIMPLE 就是普通的执行器；REUSE 执行器会重用预处理语句（prepared statements） BATCH可以批量更新操作缓存SQL以提高性能，但是有个缺陷就是无法获取update、delete返回的行数 -->
<!--         <setting name="defaultExecutorType" value=BATCH /> -->
		
		<!-- 设置关联对象加载的形态，此处为按需加载字段(加载字段由SQL指 定)，不会加载关联表的所有字段，以提高性能 -->
        <setting name="aggressiveLazyLoading" value="false"/>
	</settings>
</configuration>